doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width-device-width, initial-scale-1.0")
        meta(http-equiv="X-UA-Compatible", content="ie-edge")
        title Iniciar Sesion - Spotify
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(rel="shortcut icon", href="img/SpotifyN.ico")
        link(rel="stylesheet", href="css/materialize.css")
        link(rel="stylesheet", type="text/css", href="js/materialize.js")
        link(rel="stylesheet", type="text/css", href="css/animate.css")
        script(src="js/jquery-3.4.1.js"

        link(rel="stylesheet" type="text/css" href="css/iniciarsesion.css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap", rel="stylesheet")

    body
    nav(id="navegador")
        div(class='nav-wrapper')
            a(href="#" class="brand-logo center"): img(id="Logo" src="img/Logonavbar.PNG" alt="Logospotify")

    div(class="row")
        div(class="col s10 offset-s1 card")
            p(class="center") Para continuar,inicia sesión en Spotify
            br
            button(class="btn tooltipped waves-effect blue-royal col s8 offset-s2 indigo darken-1" type="submit" name="logearce" text="Inicia sesion con spotify") Iniciar sesion con spotify
            br
            br
            input(class="col s8 offset-s2" type="text" name="logearce" value="Correo electronico o nombre de usuario")
            input(class="col s8 offset-s2" type="text" name="logearce" value="Contraseña")
            label
                input(type="checkbox" class="filled-in" checked="checked")
                span Recordarme
                
                button(class="btn tooltipped waves-effect green col s4 offset-s6 indigo darken-1" type="submit" name="logearce" text="Inicia sesion con spotify") Iniciar sesion
            br
            p(class="center col s12 green-text") Has olvidado la contraseña
            br
            br
            p(class="center col s12") ¿No tienes cuenta?
            button(class="btn tooltipped white grey-text col s8 offset-s2" type="submit" name="logearce" text="Inicia sesion con spotify") Registrate en spotify
            p(class="col s12 center grey-text" ) Si haces clic en "Acceder con Facebook" y no eres usuario de Spotify, quedarás registrado y aceptarás los Términos y Condiciones y la Política de Privacidad de Spotify.











  






