html{
    height:100%;
    width:100%;
}
body{
    background-image: linear-gradient(to bottom right, rgb(4,51,255), black);
    background-size:100% 100%;
}
.icoimagen{
    margin-top: 35px;
    position: relative;
    border-radius: 50%; 
    height: 120px; 
    z-index: 1; 
    margin-bottom: -80px;
}
.contenedorprimario{
    height: 600px;
    padding-top: 30px; 
    margin-top: 40px; 
    opacity: 0.95;
    filter: alpha(opacity=60);
}   
#gradentbackground{
    background: rgba(0, 0, 0, 0.3);
}

.input-field label
{
   color: #ffffff !important;
}
.input-field input
{
   color: #ffffff !important;
}
.input-field input:focus + label 
{
   color: #ffffff !important;
}
.input-field input:focus
{
   color: #ffffff !important;
}
 /* label underline focus color */
.row .input-field input:focus 
{
   border-bottom: 1px solid #ffffff !important;
   box-shadow: 0 1px 0 0 #ffffff !important
}
